.sectionCard {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  justify-content: space-around;
  grid-gap: 10px;
  padding: 100px;
} 

.item {
  border-radius: 20px;
  
  font-size: 30px;
  text-align: center;
  background-size: 100%;
  background-image: url("./img/mapaPokemon.webp");
}