
.containerCard {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  justify-content: space-around;
}
.boxPokemon {
  text-align: center;
  background-image: url("img/mapa.jpg");
  background-size: 100% 100%;
}