@media screen and (max-width: 768px){
    .background {
        background-image: url("img/pokemonGoCompanerosMobile.jpg");
        background-size: 120% 100%;
    }
    .containerCard {
        justify-content: center;
        align-content: center;
    }
    .container-btn-link {
        flex-direction: row;
        width: 93%;
        height: 50px;
        position: relative;
        top: 80px;
    }
    .btn-link-home:nth-child(3) {
        font-size: small;
    }
    .welcome {
        width: 80%;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .footer-content {
        flex-direction: column-reverse;
    }
    .footer-content p {
        margin: 3px;
    }
    .style-footer {
        justify-content: center;
    }
    .container-sidenav {
          width: 60%;
          padding-left: 7%;
      }
    .containerCard {
        justify-content: center;
        margin-left: 0;
        padding-left: 0;
        justify-content: space-evenly;
    }
    .close-sidenav-mbl {
        position: fixed;
        display: none;
        z-index: 1;
    }
    .bar-1-mbl, .bar-2-mbl, .bar-3-mbl {
        width: 30px;
        height: 5px;
        background-color: #08224e;
        margin: 6px 0;
        transition: 0.4s;
      }
    .opacity-body-sidenav {
        
        opacity: 0.4;
        filter: alpha(opacity=10);       /* IE8 and lower */
        zoom: 1
    }
    .opacity-body-sidenav:before {
        content:'';
        position: absolute;
            top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0.8);
    }
    .modal-hidden-mbl {
        height: 0;
    }
  }

  